#GOD-OF-WAR, 
#HALO, 
#TLOU {
  opacity: 75%;
  border: solid 2px #000;
  box-shadow: 10px 10px 30px #000;
}

#GOD-OF-WAR:hover,
#HALO:hover,
#TLOU:hover {
  transition: 5s 10px;
  opacity: none;
}

.end-page {
  background-image: linear-gradient(to right, #808080, #fff, #c5bbbb, #ffff00);
}

footer {
  background-image: linear-gradient(to right, #5b93fc, #00eeff, #fff);
}